
			#yi{
				width: 100%;
				height: 900px;
				margin-right: 100px;
			/* background-color: bisque; */
			
				text-align: center;
				/* background-position: 100px 100px; */
			
			}
			
			
			/* 自动切图 */
			.lun img{
				margin: 0 auto;
				width: 100%;
				height: 900px;
				z-index: 1;
			}
			.lun a{
				display: none;
			}
			.lun a.on{
				display: block;
			}
			.item{
				position: absolute;
				bottom: 5px;
				left: 50%;
				transform: translateX(-50%);
			}
			.item li{
				float: left;
				width: 50px;
				height: 0px;
				list-style: none;
				border-radius: 50%;
				background-color: #ffffff;
				margin-right: 10px;
			}
		
		
	#a1{
		width: 4%;
			height: 50px;
			
			position: absolute;
			left:20%;
			top: 50px;
			
		}
			#a2{
				
				width: 85%;
				height: 100px;
				
				position: absolute;
				top: 50px;
				left: 8%;
				
				background: whitesmoke;
				opacity: 0.4;
				border-radius: 6px;
				box-shadow: 10px 10px 15px #bebebe;
				/* text-align: right; */
				line-height: 100px;
				text-align: center;
			}
			
			
		#a2 a {
				
				width:100px;
			float:none;
		
			 
			  color:#000000;
			  padding: 10px 10px;
			  text-decoration: none;
			 color: aliceblue;
			 font-size: 20px;
			}
			#a2:hover{
			
		
			background-color: #000000;
			}
			#a2 a:hover {
			  
			  color:deepskyblue;
			}
			
			
			#a3{
				
				width: 2%;
					height: 30px;
					border: 2px solid aliceblue;
					position: absolute;
					left:76%;
					top: 60px;
					border-radius: 50%;
				    text-align: center;
				    line-height: 25px;
				box-shadow: 10px 10px 15px #000000;
			}
			
			
			#a3 a {
		
				  color:#000000;
				
				  text-decoration: none;
				 color: aliceblue;
				}
				
			
			
		#a3 a:hover {
		  
		  color:deepskyblue;
		}
	/* 	推荐游戏 图片溢出放大缩小*/
			
			#er{
				
				width: 100%;
				height: 2500px;
				margin: auto;
		
			margin-top: -350px;
		
	
			
				
			}
			#b1{
				
				width: 40%;
				height: 500px;
				
				margin: 30%;
				margin-top: 450px;
				border-radius: 6px;
				box-shadow: 5px 5px 10px #000000;
				
				
			}
			#b1 *{
				 cursor: pointer;  
				 transition: all 0.5s;
				
			}
			#b1 *:hover{
				
				transform: scale(1.5);
				
			}
			
			#b2{
				
				width: 40%;
				height: 500px;
				margin-top: 400px;
				position: relative;
				margin: 30%;
				top: -337px;
				border-radius: 6px;
				box-shadow: 5px 5px 10px #000000;
			}
			#b2 *{
				 cursor: pointer;  
				 transition: all 0.5s;
				
			}
			#b2 *:hover{
				
				transform: scale(1.5);
				
			}
			#b3{
				
				width: 40%;
				height: 500px;
				margin-top: 400px;
				position: relative;
				margin: 30%;
				top: -639px;
				border-radius: 6px;
				box-shadow: 5px 5px 10px #000000;
				
			}
			#b3 *{
				 cursor: pointer;  
				 transition: all 0.5s;
				
			}
			#b3 *:hover{
				
				transform: scale(1.5);
				
			}
			#b4{
				
				width: 40%;
				height: 500px;
				margin-top: 400px;
				position: relative;
		margin: 30%;
				top: -940px;
				border-radius: 6px;
				box-shadow: 5px 5px 10px #000000;
				
			}
			#b4 *{
				 cursor: pointer;  
				 transition: all 0.5s;
				 
				
			}
			#b4 *:hover{
				
				transform: scale(1.5);			
			}
			#b5{
				
				width: 100%;
				height: 100px;
				
				margin-top: 100px;
				background-color: #c8c8c8;
				
				
				
			}
			#sj{				margin: 100px auto;				width: 300px;				height: 300px;								line-height: 300px;				text-align: center;				font-size: 350%;			border-radius: 50%;											position:relative;				overflow:hidden;
			 			 	
			 	position: absolute;
			 	top: 100px;
			 	left: 45%;
			 	
			 	/* background: whitesmoke; */
			 	opacity: 0.4;
			 	/* box-shadow: 10px 10px 15px #bebebe; */
			 	/* text-align: right; */
							
			 }						#sj:before{							opacity: 0.3;			content:"";			background-color:#55aa00;			width:0;			height:100%;			position:absolute;			left:0px;			top:0px;			z-index:-1;			transition:1s;							}			#sj:hover{				color:#ff0000;			     	}			#sj:before{				left:0;				}			#sj:hover:before{				width:65%;				}			#sj:after{							opacity: 0.3;			 content:"";			background-color:#F90;			width:0;			height:100%;			position:absolute;			right:0;			top:0;			z-index:-1;			transition:1s;				}			#sj:hover:after{				width:13%;				}
		/* 	结尾 */
			/* #san{
				
				width: 100%;
				height: 80px;
				border: 2px solid black;
				
				text-align: center;
				color: darkgray;
				background-color: #000000;
				opacity: 0.9;
			}
			 */
			